Redmine/.vs/Redmine/xs/UserPrefs.xml
Redmine/.vs/Redmine/xs/project-cache/Redmine-Debug.json
Redmine/.vs/Redmine/xs/project-cache/RedmineClient-Debug.json
Redmine/.vs/Redmine/xs/project-cache/RedmineFramework-Debug.json
Redmine/.vs/Redmine/xs/project-cache/RedmineTestCases-Debug.json
Redmine/Redmine.sln
Redmine/Redmine/Properties/AssemblyInfo.cs
Redmine/Redmine/RedmineFramework.csproj
Redmine/Redmine/bin/Debug/Redmine.dll
Redmine/Redmine/bin/Debug/Redmine.pdb
Redmine/Redmine/bin/Debug/WebDriver.Support.dll
Redmine/Redmine/bin/Debug/WebDriver.Support.xml
Redmine/Redmine/bin/Debug/WebDriver.dll
Redmine/Redmine/bin/Debug/WebDriver.xml
Redmine/Redmine/bin/Debug/chromedriver
Redmine/Redmine/bin/Debug/nunit.framework.dll
Redmine/Redmine/bin/Debug/nunit.framework.pdb
Redmine/Redmine/bin/Debug/nunit.framework.xml
Redmine/Redmine/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Redmine/Redmine/obj/Debug/Redmine.csprojAssemblyReference.cache
Redmine/Redmine/obj/Debug/Redmine.dll
Redmine/Redmine/obj/Debug/Redmine.pdb
Redmine/Redmine/obj/Debug/RedmineFramework.csproj.CopyComplete
Redmine/Redmine/obj/Debug/RedmineFramework.csproj.CoreCompileInputs.cache
Redmine/Redmine/obj/Debug/RedmineFramework.csproj.FileListAbsolute.txt
Redmine/RedmineTestCases/bin/Debug/Redmine.dll
Redmine/RedmineTestCases/bin/Debug/Redmine.pdb
Redmine/RedmineTestCases/bin/Debug/RedmineTestCases.dll
Redmine/RedmineTestCases/bin/Debug/RedmineTestCases.pdb
Redmine/RedmineTestCases/bin/Debug/WebDriver.Support.dll
Redmine/RedmineTestCases/bin/Debug/WebDriver.Support.xml
Redmine/RedmineTestCases/bin/Debug/WebDriver.dll
Redmine/RedmineTestCases/bin/Debug/WebDriver.xml
Redmine/RedmineTestCases/bin/Debug/nunit.framework.dll
Redmine/RedmineTestCases/bin/Debug/nunit.framework.pdb
Redmine/RedmineTestCases/bin/Debug/nunit.framework.xml
Redmine/RedmineTestCases/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Redmine/RedmineTestCases/obj/Debug/RedmineTestCases.csproj.CopyComplete
Redmine/RedmineTestCases/obj/Debug/RedmineTestCases.csproj.CoreCompileInputs.cache
Redmine/RedmineTestCases/obj/Debug/RedmineTestCases.csproj.FileListAbsolute.txt
Redmine/RedmineTestCases/obj/Debug/RedmineTestCases.csprojAssemblyReference.cache
Redmine/RedmineTestCases/obj/Debug/RedmineTestCases.dll
Redmine/RedmineTestCases/obj/Debug/RedmineTestCases.pdb
Redmine/packages/NUnit.3.12.0/.signature.p7s
Redmine/packages/NUnit.3.12.0/CHANGES.md
Redmine/packages/NUnit.3.12.0/LICENSE.txt
Redmine/packages/NUnit.3.12.0/NOTICES.txt
Redmine/packages/NUnit.3.12.0/NUnit.3.12.0.nupkg
Redmine/packages/NUnit.3.12.0/build/NUnit.props
Redmine/packages/NUnit.3.12.0/lib/net35/nunit.framework.dll
Redmine/packages/NUnit.3.12.0/lib/net35/nunit.framework.pdb
Redmine/packages/NUnit.3.12.0/lib/net35/nunit.framework.xml
Redmine/packages/NUnit.3.12.0/lib/net40/nunit.framework.dll
Redmine/packages/NUnit.3.12.0/lib/net40/nunit.framework.pdb
Redmine/packages/NUnit.3.12.0/lib/net40/nunit.framework.xml
Redmine/packages/NUnit.3.12.0/lib/net45/nunit.framework.dll
Redmine/packages/NUnit.3.12.0/lib/net45/nunit.framework.pdb
Redmine/packages/NUnit.3.12.0/lib/net45/nunit.framework.xml
Redmine/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.dll
Redmine/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.pdb
Redmine/packages/NUnit.3.12.0/lib/netstandard1.4/nunit.framework.xml
Redmine/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.dll
Redmine/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.pdb
Redmine/packages/NUnit.3.12.0/lib/netstandard2.0/nunit.framework.xml
Redmine/packages/Selenium.Support.3.14.0/.signature.p7s
Redmine/packages/Selenium.Support.3.14.0/Selenium.Support.3.14.0.nupkg
Redmine/packages/Selenium.Support.3.14.0/lib/net35/WebDriver.Support.dll
Redmine/packages/Selenium.Support.3.14.0/lib/net35/WebDriver.Support.xml
Redmine/packages/Selenium.Support.3.14.0/lib/net40/WebDriver.Support.dll
Redmine/packages/Selenium.Support.3.14.0/lib/net40/WebDriver.Support.xml
Redmine/packages/Selenium.Support.3.14.0/lib/net45/WebDriver.Support.dll
Redmine/packages/Selenium.Support.3.14.0/lib/net45/WebDriver.Support.xml
Redmine/packages/Selenium.Support.3.14.0/lib/netstandard2.0/WebDriver.Support.dll
Redmine/packages/Selenium.Support.3.14.0/lib/netstandard2.0/WebDriver.Support.xml
Redmine/packages/Selenium.WebDriver.3.14.0/.signature.p7s
Redmine/packages/Selenium.WebDriver.3.14.0/Selenium.WebDriver.3.14.0.nupkg
Redmine/packages/Selenium.WebDriver.3.14.0/lib/net35/WebDriver.dll
Redmine/packages/Selenium.WebDriver.3.14.0/lib/net35/WebDriver.xml
Redmine/packages/Selenium.WebDriver.3.14.0/lib/net40/WebDriver.dll
Redmine/packages/Selenium.WebDriver.3.14.0/lib/net40/WebDriver.xml
Redmine/packages/Selenium.WebDriver.3.14.0/lib/net45/WebDriver.dll
Redmine/packages/Selenium.WebDriver.3.14.0/lib/net45/WebDriver.xml
Redmine/packages/Selenium.WebDriver.3.14.0/lib/netstandard2.0/WebDriver.dll
Redmine/packages/Selenium.WebDriver.3.14.0/lib/netstandard2.0/WebDriver.xml
Redmine/packages/Selenium.WebDriver.ChromeDriver.2.41.0/.signature.p7s
Redmine/packages/Selenium.WebDriver.ChromeDriver.2.41.0/Selenium.WebDriver.ChromeDriver.2.41.0.nupkg
Redmine/packages/Selenium.WebDriver.ChromeDriver.2.41.0/build/Selenium.WebDriver.ChromeDriver.targets
Redmine/packages/Selenium.WebDriver.ChromeDriver.2.41.0/driver/linux64/chromedriver
Redmine/packages/Selenium.WebDriver.ChromeDriver.2.41.0/driver/mac64/chromedriver
Redmine/packages/Selenium.WebDriver.ChromeDriver.2.41.0/driver/win32/chromedriver.exe
Redmine/packages/WebDriver.ChromeDriver.26.14.313457.1/.signature.p7s
Redmine/packages/WebDriver.ChromeDriver.26.14.313457.1/WebDriver.ChromeDriver.26.14.313457.1.nupkg
Redmine/packages/WebDriver.ChromeDriver.26.14.313457.1/tools/ChromeDriver.exe
